<html>

<head>
</head>

<body>
    {% block content %}
    <form method="post" action="{% url 'resetpwd' %}">
        {% csrf_token %}
        <table>
            <tr>
                <label>username</label>
                <input id="username" type="text" name="username" value={{ username }}>

            </tr>
            <tr>
                <label>id_card</label>
                <input id="id_card" type="text" name="id_card" value={{ id_card }}>

            </tr>
            <tr>
                <label>date_of_birth</label>
                <input id="date_of_birth" type="text" name="date_of_birth" value={{ date_of_birth }}>

            </tr>
            <tr>
                <label>mobile_number</label>
                <input id="mobile_number" type="text" name="mobile_number" value={{ mobile_number }}>

            </tr>
        </table>
        <input type="submit" value="login">
    </form>
    {% endblock %}
</body>

</html>